export WEB_PORT=4000
export ENV="development"
export DB_NAME="bender_dev"
export BIN_NAME="bender"
export LOG_DIR=~/Downloads/${BIN_NAME}.log
export CNTR_INFO_LOG_DIR=/var/log/${BIN_NAME}-info.log
export CNTR_ERROR_LOG_DIR=/var/log/${BIN_NAME}-error.log
export CORS_ORIGINS_DEV="http://localhost null"
export DOCKER_ACCOUNT="v8tix"
export TAG="v0.1.0"
export IMAGE="bender"
export IMAGE_TAG=""${IMAGE}":"${TAG}""
export CPUS="1"
export MEMORY="256m"
export DB_HOST_CONN_DIR=/home/v8tix/Public/Projects/tests/db/db-uri
export DB_CNTR_CONN_DIR=/home/v8tix/conn